<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="banner" role="main">
   
<h1  class="column-title">From Our Blog</h1>
    <div id="blog" class="column-contenido">

        <div class="textbanner">
            
            <div class="containerimg">
                
                <img src="{{cards[0].img}}" alt="image">
                <h2>{{cards[0].date}}</h2>
            </div>
            
                <h1>{{cards[0].title1}}</h1>

                <p >{{cards[0].text}}</p>
                
                <p class="link">Read More</p>

        </div>
        
        <div class="textbanner">
            <div class="containerimg">
                <img src="{{cards[1].img}}" alt="image">
            </div>
            <h2>{{cards[1].date}}</h2>
                <h1>{{cards[1].title1}}</h1>

                <p>{{cards[1].text}}</p>
                
                <p class="link">Read More</p>

        </div>
        
    </div>

</div>