.card {

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: block;
    margin: 8px;
    height: 560px;
    width: 500px;
    border-radius:5px ;
    padding-top:2%;
    
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    
  }
  .card .container {

    overflow:hidden; 
    width: 13em;
    height: 13em;
    position:relative;
    margin: 8px;
    
    background-color: #f5f6f9;
  }
  .card .container img{
    position:relative;
    height: 13em;
    overflow: hidden;
  }

  .card .card-body {
    padding:2%; 
    overflow:hidden; 
    width: 14em;
    height: 6em;
    position:relative;
    margin: 0px;
    

  }

  .column-contenido {
   
    display: flex;
    align-items:flex-start;
    line-height: 20px;
    flex-direction: row;
    justify-content:center;
    flex: 0 1 50%;
    margin-left: 8px;
    margin-right: 8px;
    
  }



  .spacer {
    flex: 0.8;
  }

  h4 {
    flex: 0 1 75%;
    font-size: 80%;
    white-space:nowrap;
    overflow:scroll;
    display: -webkit-box;
    scrollbar-width: none;
    text-overflow: ellipsis;
    color: black;
    text-align: start;
    padding: 0;
    margin: 0%;

   
    
  }
  h4::-webkit-scrollbar {
    display: none;
  }

  h5 {
    font-size: 75%;
    color: #44b89d;
    text-align: start;
    padding: 0;
    margin: 0%;
    margin-left: 8px;
    margin-right: 8px;
  }
  h6 {
    font-size: 60%;
    color: #6e6e6e;
    display: -webkit-box;
    white-space:nowrap;
    overflow:scroll;
    scrollbar-width: none;
    text-overflow: ellipsis;
    text-align: start;
    padding: 0;
    margin: 0%;
    margin-left: 8px;
    margin-right: 8px;
    
   
    
  }
  h6::-webkit-scrollbar {
    display: none;
  }

  .circulo {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    margin-left: 8px;
  

  
  }

  .circulo > p {
    font-family: sans-serif;
    color: white;
    font-size: 0.5rem;
    font-weight: bold;
  }
  .lenguajes {

    display: flex;
    flex-direction: row;

  }

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  * {
    box-sizing: border-box;
  }

  ngb-rating {
    padding-top: 5px;
    color: #FFC107;
    font-size: 30px;
    text-align: start;
  }
  
  h2 {
    font-size: 90%;
  
    text-align: start;
    padding: 0;
    margin: 0%;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 10%;
  
  }
   .commentbox {
    float: left;
    align-items:flex-start;

    margin-left: 10%;
    margin-right: 10%;
    background: #ffffff;
    color: #f5f6f9;
    font-size: 12px;
    border: 1px solid grey;
    padding: 10px;

    border-radius:5px  ;
  }
   .comment {
    font-size: 90%;
    color: #0c0c0c;
    text-align: start;
    padding: 0;
    margin: 0%;
    margin-left: 8px;
    margin-right: 8px;
  }

   .autor {
    font-size: 75%;
    color: #0c0c0c;
    text-align: end;
    padding: 0;
    margin: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }
  .data {
  
    max-width: 50%;
  }